<body>

  <div class="visibility" id="divNesage">
    <label class="join-left message" id="labelNesage">teste</label>
  </div>
  <br>

<div class="container">
  
<div class="form-group">
  <label class="join-left font">Country: </label>
  <select class='select-option join-righ'
    #mySelect
    (change)="onOptionsCountrySelected(mySelect.value)" 
    name="country">
    <option *ngFor="let country of countries" [value]="country.CountryId">{{ country.Name }}</option>
  </select>
</div>

<div class="form-group">
  <label class="join-left font" >VAT rate: </label>

  <div class="join-righ">
    <div class="width-join-left font" *ngFor="let item of rates">
      <input 
        name="radioRate"
        id="radioRate"
        type="radio"
        (change)="onOptionsRadioRateSelected()" 
        [checked]="true"
        [value]="item.RatesId"/> {{item.Value + "%"}}
    </div>
  </div>
</div>
<br><br><br>

<div  *ngFor="let item of vats">
  <div class="form-group">
    <input 
      name="radioVatd"
      type="radio"
      (change)="onOptionsVatSelected(item.VatId)" 
      [value]="item.VatId"/> 
      <span class="font">{{item.Name }} </span>
      
      <input 
        name="numberInputVat"
        id="numberInputVat{{item.VatId}}"
        type="number"
        (keyup)="onKeyUp(item.VatId)"
        Disabled  />
  </div>
</div>
</div>
</body>
<style>
  body {
    font: 1.2em Helvetica, Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #eee;
  }
  .wrapper {
    max-width: 960px;
    margin: 2em auto;
  }

  .col1,
  .col2 {
    background-color: #fff;
  }

  @media screen and (min-width: 600px) {
    .col1 {
      width: 31.24999999%;
      float: left;
    }

    .col2 {
      width: 64.58333331%;
      float: right;
    }
  }

   .join-left {
      width: 200px;
  }

  .join-left {
      float: left;
  }

  .width-join-left {
      float: left;
      width: 48px;
  }

  .font  {
    font-size: 10px;
  }

  .visibility {
      display: none;
  }

  .join-right {
      float: right;
  }

  .message {
    font-size: 10px;
    color: red;
    width: auto;
  }
</style>